/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 340px) {

    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p,
    h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe {

        margin: 0%;
    }

    .site-main .site-banner .site-title h1 {
        font-size: 20px;
    }


}

/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 792px) {
    .site-main .site-banner .site-title h1 {
        font-size: 40px;
    }

    .site-main .about-area .about-title {
        text-align: center;
    }

    .site-main .about-area .about-title h2>span {
        font-size: 2.2rem;

        text-align: center;
    }

    .site-main .brand-area .experience-area .years-area {
        width: 49%;
    }

    .site-main .project-area .button-group button {
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p {
        padding: 0%;
    }

    .site-main .about-area .container-fluid img {
        display: flex;
        align-items: center;
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
        box-shadow: 1px 8px 30px #b1afaf;
        align-content: center;
        justify-content: center;
        margin: auto;

    }

    .site-main .project-area .container {

        text-align: center;
    }

    .site-main .project-area .grid .our-project {
        text-align: center;
    }

    .site-main .project-area .grid .our-project .title h4 {

        text-align: center;
        font-size: 1rem;
    }

    .site-main .project-area .grid .our-project .title span {

        text-align: center;
        font-size: small;
    }

    .site-main .project-area img {
        height: 15rem;
        width: 20rem;
        align-content: center;
        text-align: center;
    }
}

/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px) {
    .header_area .main-menu .navbar {
        padding: 1rem;
    }

    .container {
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area {
        padding: 3% 4%;
    }
}
