body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* navigation */
.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 2rem;
}

.header_area .main-menu .navbar {
    padding: 0 10rem;
}

.header_area .main-menu .navbar .navbar-brand img {
    height: 5rem;
    width: 8rem;
}

.header_area .main-menu .nav-item .nav-link {
    font-weight: 520;
    text-transform: uppercase;
    padding: 0 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.header_area .main-menu .navbar-nav .active a {
    color: blueviolet;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    color: blueviolet;
    background-clip: text;
}

/* Home */
.site-main .site-banner {
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(../img/back.jpg) ;
    height: 30rem;
    color: white;
    width: 100%;
    background-position: center center;
    background-size: cover;
}


.site-main .site-banner .site-title h3 {
    margin-top: 7rem;

    font-weight: 300;
    font-size: 2rem;
}

.site-main .site-banner .site-title h1 {
    margin-top: 1.2rem;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}

.site-main .site-banner .site-title h4 {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
}

.site-main .site-banner .site-title button {
    background-color: white;
    margin-top: 2.4rem;
    padding: 0.7rem;

}

.site-main .site-banner .site-title button a {
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site-main .site-banner .site-title button:hover {
    background-color: rgb(145, 46, 238);
}

.site-main .site-banner .site-title button a:hover {
    text-decoration: none;
    color: white;
}

/* End Home */

/* Start About*/

.site-main .about-area {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%239d0bff'/%3E%3Cstop offset='1' stop-color='%2308daff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='5.9399999999999995'%3E%3Cpath transform='translate(-24.5 5.6) rotate(3.5 1409 581) scale(1.014)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.9800000000000002' transform='translate(-14 14) rotate(4.2 800 450) scale(1.007)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(12.6 -42) rotate(42 401 736) scale(1.007)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.8'%3E%3Cpath transform='translate(84 -5.6) rotate(1.4 150 345) scale(0.986)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.9600000000000004' transform='translate(-56 -35) rotate(50.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-84 28) rotate(8.4 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 3rem;
    padding: 8rem 0rem;
}

.site-main .about-area .container-fluid img {
    width: 21rem;
    height: 21rem;
    border-radius: 100%;
    margin: 10%;
    box-shadow: 1px 8px 30px #b1afaf;
}

.site-main .about-area .about-title h2>span {
    display: block;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

.site-main .about-area .about-title .paragraph>p {

    font-size: 1rem;

}

.site-main .about-area button {
    background-color: rgb(145, 46, 238);
    padding: 0.6rem;
}

.site-main .about-area button:hover {
    background-color: rgb(6, 87, 240);
}

.site-main .about-area button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* End About Area */


/* Start Skills */
.site-main .brand-area {
    padding: 1rem 10rem;
    margin: 3rem 0;
}

.site-main .brand-area h2 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 2rem;
}

.site-main .brand-area .first-row .col-lg-2 {
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-2>.single-brand {
    border: 1px solid gainsboro;
    text-align: center;
    padding: 8px;
    margin: .7rem 0;
    width: 8rem;
    height: 8rem;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-2>.single-brand>img {
    width: 7rem;
    height: 7rem;
    margin: 0.3rem 0rem;
}

.site-main .brand-area .first-row .col-lg-2>.single-brand:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

/* Project Area */

.site-main .project-area {
    padding: 3rem 0;
    margin-top: 2rem;

}

.site-main .project-area .grid .our-project>.title h4 {
    font-weight: 700;
}

.site-main .project-area .grid .our-project .title {
    width: 20rem;
}

.site-main .project-area img {
    height: 18rem;
    width: 20rem;
}

.site-main .project-area .grid .our-project .img:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */

/* Footer Area */
footer.footer-area {

    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .container a img {
    height: 8.5rem;
    width: 10.5rem;
}

footer.footer-area .social h5 {
    font-weight: 500;
    font-size: 2.4rem;
}

footer.footer-area .social a>i {
    font-size: 2rem;
    padding: 0.6rem;
    color: rgb(213, 112, 233);
    margin: 0.2rem 0.5rem;
}

footer.footer-area .social a:hover>i {
    color: rgb(81, 81, 241);
}

footer.footer-area .container p {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 1rem 0;
}

/* End Footer */
