@import url(./partials/_variables.css);
@import url(./partials/_global.css);

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation */ 
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 3rem;
}

.header_area .main-menu .navbar{
    padding: 0.3rem 15rem ;
}
.header_area .main-menu .navbar .navbar-brand img{
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
}
.header_area .main-menu .nav-item .nav-link{
    font-weight: 520;    
    text-transform: uppercase;
    padding: 1rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Home */
.site-main .site-banner {
    background: url(../img/background.jpg) no-repeat;
    height: 450px;
    color: white;
    width: 100%;
    background-position: center center;
    margin: 30px 0;
}

.site-main .site-banner .site-title h3{
    padding-top: 7%;
    font-weight: 300;
}

.site-main .site-banner .site-title h1{
    font-size: 3.5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.7rem;
}
.site-main .site-banner .site-title button a:hover{
    text-decoration: none;
    color: white;
}

/* End Home */ 

/* Start About*/ 

.site-main .about-area{
    margin-top: 3rem;
    padding: 9rem 4rem;
}
.site-main .about-area .container-fluid img{
    width: 24rem;
    height: 24rem;
    
    border-radius: 100%;
    margin: 12%;
    box-shadow: 1px 8px 30px #b1afaf;
}
.site-main .about-area .about-title h2 > span{
    display: block;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 14px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}
.site-main .about-area button a{
    color: white;
}
.site-main .about-area button a:hover{
    color: black;
    text-decoration: none;
}
/* End About Area */ 


/* Start Skills */ 
.site-main .brand-area{
    padding: 1rem 20rem;
    margin: 1.5rem 0;
}
.site-main .brand-area h2{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
}
.site-main .brand-area .first-row .col-lg-3{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-3 > .single-brand{
    border: 1px solid gainsboro;
    text-align: center;
    padding:8px;
    margin: .7rem 0;
    width: 180px;
    height: 170px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-3 > .single-brand > img{
    width: 150px;
    height: 140px;
}

.site-main .brand-area .first-row .col-lg-3 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

/* End Skills */ 

/* Certificates */ 

.site-main .services-area{
    padding: 1rem 1rem;
}

.site-main .services-area .services-title{
    padding: 0 1rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main .services-area .services{
    background: rgba(235, 237, 238, 0.973);
    padding: 1rem 0;
    width: 30rem;
    margin: 1rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: 1px 8px 30px #b1afaf;
}

/* End Certificates Area */ 

/* Project Area */ 

.site-main .project-area{
    padding: 7rem 0;
    margin-top: 2rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font-weight: 700 ;
}

.site-main .project-area .grid .our-project .img:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */ 

/* Footer Area */ 
footer.footer-area{
    padding: 1rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .container a img{
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
}

footer.footer-area .social h5{
    font-weight: 500;
    font-size: 2rem;
}

footer.footer-area .social a > i{
    font-size:1.8rem;
    padding: 1rem;
    color: rgb(213, 112, 233);
    margin: 14px 8px;
}

footer.footer-area .social a:hover > i{
    color: rgb(81, 81, 241);
}

footer.footer-area .container p{
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 1.2rem;
}
/* End Footer */ 
